# Environment variables
server/.env

# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Build output
client/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Vite
client/.env.local
